body{
    margin: 0;
}

.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,.2);
    border-radius: 6px;
}

/* .accounting-list-table > .ant-space-item:first-child{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px 0px 20px 0px;
} */
